# Configuration for host otindexdev.opentreeoflife.org
# For documentation see opentree/deploy/sample.config
OPENTREE_TAG=otindexdev
OPENTREE_HOST=otindexdev.opentreeoflife.org
OPENTREE_COMPONENTS='phylesystem-api'
OPENTREE_PUBLIC_DOMAIN=otindexdev.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem

# Instead of managing lots of single-repo deployment keys, use a
# single key (assigned to opentreeapi bot user) for all docstore repos
OPENTREE_GH_IDENTITY=~/.ssh/opentree/opentreeapi-gh.pem
OPENTREE_DOCSTORE=phylesystem-1
# define minor repos for other types, following in curation app
COLLECTIONS_REPO=collections-1
AMENDMENTS_REPO=amendments-1
ILLUSTRATIONS_REPO=illustrations-0
FAVORITES_REPO=favorites-0

# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
# ASSUME that all method URLs will include the full version and path!
MAIN_API_HOST=otindexdev.opentreeoflife.org
TREEMACHINE_BASE_URL=https://${MAIN_API_HOST}
TAXOMACHINE_BASE_URL=https://${MAIN_API_HOST}
OTI_BASE_URL=https://devapi.opentreeoflife.org
OTINDEX_BASE_URL=https://otindexdev.opentreeoflife.org
OPENTREE_API_BASE_URL=https://${MAIN_API_HOST}
COLLECTIONS_API_BASE_URL=https://${MAIN_API_HOST}
AMENDMENTS_API_BASE_URL=https://${MAIN_API_HOST}
ILLUSTRATIONS_API_BASE_URL=https://${MAIN_API_HOST}
FAVORITES_API_BASE_URL=https://${MAIN_API_HOST}
CONFLICT_BASE_URL=https://${MAIN_API_HOST}

OPENTREE_NEO4J_HOST=https://${MAIN_API_HOST}
# Is this still used?

# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
# ASSUME that all method URLs will include the full version and path!
OPENTREE_WEBAPI_BASE_URL=https://${MAIN_API_HOST}
OPENTREE_API_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
# OPENTREE_API_BASE_URL is needed to add the (re)indexing webhook!

GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

TREEVIEW_GITHUB_CLIENT_ID=8cdc1fa7f5a3a416f958
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/treeview-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

# See https://github.com/organizations/OpenTreeOfLife/settings/applications
CURATION_GITHUB_CLIENT_ID=d731965529a15ef9d529
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/curator-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org


OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

opentree_branch phylesystem-api otindex-debug
opentree_branch oti master
opentree_branch treemachine master
opentree_branch taxomachine master
opentree_branch ot-base master
opentree_branch peyotl master
opentree_branch reference-taxonomy master
opentree_branch opentree otcetera-ws

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

# No opentree webapp on this server
OPENTREE_DEFAULT_APPLICATION=welcome

# For files.opentreeoflife.org - see push.sh
FILES_HOST=files.opentreeoflife.org

TAX_URL=http://${FILES_HOST}/ott/ott3.0/ott3.0.tgz
SYNTH_URL=http://files.opentreeoflife.org/synthesis/opentree10.4/opentree10.4_output.tgz


