# Configuration for host ot10 (8GiB RAM, ashby.opentreeoflife.org)
#   a.k.a. devapi.opentreeoflife.org
# For documentation see opentree/deploy/sample.config
OPENTREE_TAG=ot10
OPENTREE_HOST=devapi.opentreeoflife.org
OPENTREE_COMPONENTS='phylesystem-api oti treemachine taxomachine'
OPENTREE_PUBLIC_DOMAIN=devtree.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/repo-phylesystem-0.pem
OPENTREE_NEO4J_HOST=devapi.opentreeoflife.org
OPENTREE_DOCSTORE=phylesystem-0
# define minor repos for collections, following in curation app
COLLECTIONS_REPO=collections-0
FOLLOWING_REPO=following-0
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine/v1
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine/v1
OTI_BASE_URL=http://${OPENTREE_NEO4J_HOST}/oti/v1
OPENTREE_API_BASE_URL=http://${OPENTREE_NEO4J_HOST}/phylesystem/v1

GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo
 

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# When testing, please make the branch choice only in your local
# deployed-systems repo.  Do not push feature branch choices back
# to github.  The branches in the github version should always be
# 'master'.
# --JAR 2014-09-10

opentree_branch phylesystem-api master
opentree_branch oti master
opentree_branch treemachine master
opentree_branch taxomachine master
opentree_branch ot-base master

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

# No opentree webapp on this server
OPENTREE_DEFAULT_APPLICATION=welcome

# For files.opentreeoflife.org - see push.sh
FILES_HOST=devapi.opentreeoflife.org
