# Configuration for 'api' host (m3.large, 250G disk)
#   a.k.a. api.opentreeoflife.org
# Do push-db for the two databases manually, followed by index
OPENTREE_TAG=ot50
# NOTE that the value of OPENTREE_HOST will be treated as the canonical domain!
# This should always be our preferred name, not ot##.opentreeof...
OPENTREE_HOST=devapi.opentreeoflife.org
##Currently 'api' ONLY runs ocetera, and forwards via apache to OTINDEX_ and PHYLAPI_

OPENTREE_USER='otcetera'
OPENTREE_COMPONENTS='otcetera'

OPENTREE_IDENTITY=~/.ssh/id_rsa


# ***** Use phylesystem-0 for testing, phylesystem-1 for release *****
# OPENTREE_DOCSTORE=phylesystem-0
OPENTREE_DOCSTORE=phylesystem-1
# define minor repos for collections, following in curation app
COLLECTIONS_REPO=collections-1
AMENDMENTS_REPO=amendments-1
FAVORITES_REPO=favorites-0  # currently unused (and no such repo)!

# ***** Use ${OPENTREE_HOST} for testing, 'api.opentreeoflife.org' for release *****
# OPENTREE_API_HOST=${OPENTREE_HOST}
OPENTREE_API_HOST=api.opentreeoflife.org/

# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
OTINDEX_BASE_URL=https://devotindex.opentreeoflife.org
PHYLAPI_BASE_URL=https://devphylesystemapi.opentreeoflife.org


OPEN_TREE_API_LOGGING_LEVEL=info
OPEN_TREE_API_LOGGING_FILEPATH=/home/${OPENTREE_USER}/logs/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# master for 'continuous deployment' per new policy 2014-09-05
OPENTREE_BRANCH=master

opentree_branch peyotl $OPENTREE_BRANCH
opentree_branch otcetera development
opentree_branch ws_wrapper $OPENTREE_BRANCH


# Which component(s) needs this?
export PEYOTL_LOGGING_LEVEL=info
export PEYOTL_LOG_FILE_PATH=/home/${OPENTREE_USER}/logs/peyotl.log

# For files.opentreeoflife.org - see push.sh
FILES_HOST=files.opentreeoflife.org

TAX_URL=http://${FILES_HOST}/ott/ott3.2/ott3.2.tgz
SYNTH_URL=http://files.opentreeoflife.org/synthesis/opentree12.3/opentree12.3.tgz

