# Configuration for host ot16 (m3.medium ec2-54-189-63-165.us-west-2.compute.amazonaws.com)
#   a.k.a. devtree.opentreeoflife.org
OPENTREE_TAG=ot16
OPENTREE_HOST=devtree.opentreeoflife.org
OPENTREE_COMPONENTS='opentree'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem

# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
# ASSUME that all method URLs will include the full version and path!
MAIN_API_HOST=devapi.opentreeoflife.org
TREEMACHINE_BASE_URL=https://${MAIN_API_HOST}
TAXOMACHINE_BASE_URL=https://${MAIN_API_HOST}
OTI_BASE_URL=https://${MAIN_API_HOST}
OTINDEX_BASE_URL=http://devotindex.opentreeoflife.org
OPENTREE_API_BASE_URL=https://${MAIN_API_HOST}
COLLECTIONS_API_BASE_URL=https://${MAIN_API_HOST}
AMENDMENTS_API_BASE_URL=https://${MAIN_API_HOST}
ILLUSTRATIONS_API_BASE_URL=https://${MAIN_API_HOST}
FAVORITES_API_BASE_URL=https://${MAIN_API_HOST}
CONFLICT_BASE_URL=https://${MAIN_API_HOST}

OPENTREE_NEO4J_HOST=devapi.opentreeoflife.org
# Is this still used?

OPENTREE_PUBLIC_DOMAIN=devtree.opentreeoflife.org

TREEVIEW_GITHUB_CLIENT_ID=8cdc1fa7f5a3a416f958
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/treeview-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

# See https://github.com/organizations/OpenTreeOfLife/settings/applications
CURATION_GITHUB_CLIENT_ID=d731965529a15ef9d529
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/curator-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

# When testing, please set the branch choice only in your local
# deployed-systems repo.  Do not push feature branch choices back
# to github.

# The branches in the github version should always be 'master', with
# the exception of the opentree repo, for which we are using a
# different git workflow.  For opentree we use the 'development'
# branch as explained in the 'Github workflow' google doc.

# --JAR 2014-09-10
#
# With the exception of the opentree/development, which should normally include
# all new features under review. See https://docs.google.com/document/d/1k1NJhnE4I6Klw7u9RTpbrBgqfhWkvoR8N0fogQ29rEA/edit
# --jimA 2015-01-09

opentree_branch opentree development
# REMINDER: This should generally be the 'development' branch, with all new feature work merged.

# Peyotl is invoked from the curator app
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
