# Configuration for host ot10 (8GiB RAM, ashby.opentreeoflife.org)
OPENTREE_TAG=ot10
OPENTREE_HOST=ot10.opentreeoflife.org
OPENTREE_COMPONENTS='opentree api oti'
OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/phylesystem-1.pem
OPENTREE_NEO4J_HOST=ot9.opentreeoflife.org
OPENTREE_DOCSTORE=phylesystem-1
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://ot10.opentreeoflife.org/oti
OPENTREE_API_BASE_URL=http://ot10.opentreeoflife.org/api/v1

GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo
 

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

opentree_branch phylesystem-api master
opentree_branch oti master
opentree_branch opentree production

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
