# Configuration for host ot10 (8GiB RAM, ashby.opentreeoflife.org)
OPENTREE_TAG=ot10
OPENTREE_HOST=ashby.opentreeoflife.org
OPENTREE_COMPONENTS='opentree api oti'
OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/repo-phylesystem-0.pem
OPENTREE_NEO4J_HOST=ec2-54-203-194-13.us-west-2.compute.amazonaws.com  # ot9
OPENTREE_DOCSTORE=phylesystem-0
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://ashby.opentreeoflife.org/oti  # ot10
OPENTREE_API_BASE_URL=http://ashby.opentreeoflife.org/api/v1  # ot10

GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo
 

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

opentree_branch api.opentreeoflife.org master
opentree_branch oti master
opentree_branch opentree master

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
