# Configuration for host ot11 (m3.medium ec2-54-189-63-165.us-west-2.compute.amazonaws.com)
#   a.k.a. devtree.opentreeoflife.org
OPENTREE_TAG=ot11
OPENTREE_HOST=ot11.opentreeoflife.org
OPENTREE_COMPONENTS='opentree'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_API_BASE_URL=http://ot12.opentreeoflife.org/api/v1
OPENTREE_NEO4J_HOST=ot12.opentreeoflife.org
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://ot12.opentreeoflife.org/oti

OPENTREE_PUBLIC_DOMAIN=devtree.opentreeoflife.org

TREEVIEW_GITHUB_CLIENT_ID=8cdc1fa7f5a3a416f958
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/treeview-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

CURATION_GITHUB_CLIENT_ID=d731965529a15ef9d529
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/curator-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

# MERGED: opentree_branch opentree prod-setup

# Peyotl is invoked from the curator app
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
