# Configuration for host ot3 (m1.small, ec2-54-202-237-199.us-west-2.compute.amazonaws.com)
# NOTE that ot9 is used for most neo4j services, and ot6 for oti and the Open Tree API
OPENTREE_TAG=ot3
OPENTREE_HOST=ec2-54-202-237-199.us-west-2.compute.amazonaws.com
OPENTREE_COMPONENTS='opentree'
OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/opentreeapi-test-gh.pem
OPENTREE_NEO4J_HOST=ec2-54-203-194-13.us-west-2.compute.amazonaws.com  # ot9
OPENTREE_DOCSTORE=phylesystem-0
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://ashby.opentreeoflife.org/oti  # ot10
OPENTREE_API_BASE_URL=http://ashby.opentreeoflife.org/api/v1  # ot10

CURATION_GITHUB_CLIENT_ID=9a81785e2af910035667
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

TREEVIEW_GITHUB_CLIENT_ID=32cb7a650c449237398d
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo
 
# -----
# The opentree_branch command specifies which branch to use for the
# given repo.  The default is always 'master'.

# opentree_branch opentree streamlined-study-creation
# opentree_branch oti master
# opentree_branch taxomachine master
# opentree_branch treemachine master
# opentree_branch peyotl master
