# Configuration for host ot9 (m1.small, ec2-54-203-194-13.us-west-2.compute.amazonaws.com)
# This is mainly used for neo4j services in the current setup
OPENTREE_TAG=ot9
OPENTREE_HOST=ec2-54-203-194-13.us-west-2.compute.amazonaws.com
OPENTREE_COMPONENTS='treemachine taxomachine push-db oti index'
OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/opentreeapi-test-gh.pem
OPENTREE_NEO4J_HOST=${OPENTREE_HOST}
OPENTREE_DOCSTORE=hbf_phylesystem_test
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://${OPENTREE_NEO4J_HOST}/oti

OPENTREE_API_BASE_URL=http://ec2-54-203-170-250.us-west-2.compute.amazonaws.com/api/v1  # ot7

GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

# opentree_branch treemachine master
# opentree_branch taxomachine master
# opentree_branch oti master
# opentree_branch peyotl master
