# Configuration for 'api' host (m3.large, 250G disk)
#   a.k.a. api.opentreeoflife.org
# Do push-db for the two databases manually, followed by index
OPENTREE_TAG=ot20
OPENTREE_HOST=${OPENTREE_TAG}.opentreeoflife.org
OPENTREE_COMPONENTS='api oti treemachine taxomachine'
OPENTREE_IDENTITY=~/.ssh/opentree/production.pem

# ***** Use phylesystem-0.pem for testing, phylesystem-1.pem for release *****
# (uncomment the appropriate one)
# OPENTREE_GH_IDENTITY=~/.ssh/opentree/phylesystem-0.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/phylesystem-1.pem

# ***** Use phylesystem-0 for testing, phylesystem-1 for release *****
# OPENTREE_DOCSTORE=phylesystem-0
OPENTREE_DOCSTORE=phylesystem-1

# ***** Use ${OPENTREE_HOST} for testing, 'api.opentreeoflife.org' for release *****
# OPENTREE_API_HOST=${OPENTREE_HOST}
OPENTREE_API_HOST=api.opentreeoflife.org

OPENTREE_API_BASE_URL=http://${OPENTREE_API_HOST}/phylesystem/v1
# Extraneous http:// is needed for now, but should get phased out
OTI_BASE_URL=http://${OPENTREE_HOST}/oti/v1

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# master for 'continuous deployment' per new policy 2014-09-05
OPENTREE_BRANCH=master

opentree_branch peyotl $OPENTREE_BRANCH
opentree_branch phylesystem-api $OPENTREE_BRANCH
opentree_branch ot-base $OPENTREE_BRANCH
opentree_branch oti $OPENTREE_BRANCH
opentree_branch treemachine $OPENTREE_BRANCH
opentree_branch taxomachine $OPENTREE_BRANCH

# Which component(s) needs this?
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

# No opentree webapp on this server
OPENTREE_DEFAULT_APPLICATION=welcome
