# Configuration for host ot11 (m3.medium ec2-54-189-63-165.us-west-2.compute.amazonaws.com)
#   a.k.a. tree.opentreeoflife.org
OPENTREE_TAG=ot11
OPENTREE_HOST=ot11.opentreeoflife.org
OPENTREE_COMPONENTS='opentree'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/phylesystem-1.pem
OPENTREE_API_BASE_URL=http://ot12.opentreeoflife.org/api/v1
OPENTREE_NEO4J_HOST=ot12.opentreeoflife.org
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://${OPENTREE_NEO4J_HOST}/oti

OPENTREE_PUBLIC_DOMAIN=tree.opentreeoflife.org
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

opentree_branch opentree prod-setup
# opentree_branch api.opentreeoflife.org master

# Which component(s) needs this?
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
