# Configuration for host ot12 (m3.large ec2-54-185-162-66.us-west-2.compute.amazonaws.com)
#   a.k.a. api.opentreeoflife.org
# Do push-db for the two databases manually, followed by index
OPENTREE_TAG=ot12
OPENTREE_HOST=ot12.opentreeoflife.org
OPENTREE_COMPONENTS='api oti treemachine taxomachine'
OPENTREE_PUBLIC_DOMAIN=tree.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/repo-phylesystem-0.pem
OPENTREE_DOCSTORE=phylesystem-0
OPENTREE_API_BASE_URL=http://ot12.opentreeoflife.org/api/v1

OPENTREE_PUBLIC_DOMAIN=tree.opentreeoflife.org
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# opentree_branch api.opentreeoflife.org master
# opentree_branch oti master
# opentree_branch treemachine master
# opentree_branch taxomachine master
# opentree_branch peyotl master

# Which component(s) needs this?
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
