# Configuration for host ot7 (m1.small  ec2-54-203-170-250.us-west-2.compute.amazonaws.com)
# NOTE that ot9 is used for neo4j services!
OPENTREE_TAG=ot7
OPENTREE_COMPONENTS='api'  # TODO: just 'api'?
OPENTREE_HOST=ec2-54-203-170-250.us-west-2.compute.amazonaws.com
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/phylesystem-1.pem
OPENTREE_NEO4J_HOST=ec2-54-203-194-13.us-west-2.compute.amazonaws.com  # ot9
OPENTREE_DOCSTORE=phylesystem-1
OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org
OPENTREE_API_BASE_URL=http://ec2-54-203-170-250.us-west-2.compute.amazonaws.com/api/v1
GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

opentree_branch opentree master
opentree_branch api.opentreeoflife.org master

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

