# Configuration for host ot14 (m3.medium)
#   a.k.a. tree.opentreeoflife.org
OPENTREE_TAG=ot53
# NOTE that the value of OPENTREE_HOST will be treated as the canonical domain!
# This should always be our preferred name, not ot##.opentreeof...
OPENTREE_HOST=ot53.opentreeoflife.org
OPENTREE_COMPONENTS='taxomachine'
OPENTREE_IDENTITY=~/.ssh/id_rsa

MAIN_API_HOST=api.opentreeoflife.org

OPENTREE_ADMIN=ubuntu