# Configuration for host ot14 (m3.medium)
#   a.k.a. tree.opentreeoflife.org
OPENTREE_TAG=ot14
OPENTREE_HOST=${OPENTREE_TAG}.opentreeoflife.org
OPENTREE_COMPONENTS='opentree'
OPENTREE_IDENTITY=~/.ssh/opentree/production.pem

# ***** Should be 'ot20' for testing, 'api' for final release: *****
# (uncomment the appropriate one)
# OPENTREE_API_HOST=ot20.opentreeoflife.org
OPENTREE_API_HOST=api.opentreeoflife.org

OPENTREE_API_BASE_URL=//${OPENTREE_API_HOST}/phylesystem/v1
TREEMACHINE_BASE_URL=//${OPENTREE_API_HOST}/treemachine/v1
TAXOMACHINE_BASE_URL=//${OPENTREE_API_HOST}/taxomachine/v1
# Extraneous http:// is needed for now, but should get phased out
OTI_BASE_URL=//${OPENTREE_API_HOST}/oti/v1

OPENTREE_PUBLIC_DOMAIN=tree.opentreeoflife.org
# ASSUMES local testing, with modified local HOSTS file

TREEVIEW_GITHUB_CLIENT_ID=dff0cf4bb02360426224
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# N.b. the GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/treeview-GITHUB_CLIENT_SECRET-tree.opentreeoflife.org

CURATION_GITHUB_CLIENT_ID=d02feed213fd327e3005
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# N.b. the GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/curator-GITHUB_CLIENT_SECRET-tree.opentreeoflife.org

# Peyotl is invoked from the curator app
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

# master for 'continuous deployment' per new policy 2014-09-05
OPENTREE_BRANCH=master

opentree_branch opentree $OPENTREE_BRANCH
opentree_branch peyotl $OPENTREE_BRANCH
