# Configuration for host otindex.opentreeoflife.org
# (8GiB RAM, ot28.opentreeoflife.org EC2)
# For documentation see opentree/deploy/sample.config
OPENTREE_TAG=ot52
# NOTE that the value of OPENTREE_HOST will be treated as the canonical domain!
# This should always be our preferred name, not ot##.opentreeof...
OPENTREE_HOST=tree.opentreeoflife.org
# mostly here to suppress the default message from push.sh
OPENTREE_PUBLIC_DOMAIN=tree.opentreeoflife.org

OPENTREE_USER='opentree'
OPENTREE_COMPONENTS='opentree'

OPENTREE_IDENTITY=~/.ssh/id_rsa


# -----
# Some variables are used to authenticate the registered curation app on GitHub

CURATION_GITHUB_APP_ID=65862
CURATION_GITHUB_CLIENT_ID=Iv1.8b8116ce58d092c4
CURATION_GITHUB_REDIRECT_URI=https://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
CURATION_GITHUB_INSTALLATION_ID=9309575
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in a file like 'curation-GITHUB_CLIENT_SECRET-dev.opentreeoflife.org'
# Same for GITHUB_APP_PRIVATE_KEY_PEM

# -----
# Similar variables are used to authenticate the registered tree-viewer app on GitHub

TREEVIEW_GITHUB_APP_ID=65858
TREEVIEW_GITHUB_CLIENT_ID=Iv1.a38de91f02cdaa2f
TREEVIEW_GITHUB_REDIRECT_URI=https://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
TREEVIEW_GITHUB_INSTALLATION_ID=9309600
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in a file like 'treeview-GITHUB_CLIENT_SECRET-dev.opentreeoflife.org'
# Same for GITHUB_APP_PRIVATE_KEY_PEM

# -----


# ***** Use phylesystem-0 for testing, phylesystem-1 for release *****
# OPENTREE_DOCSTORE=phylesystem-0
OPENTREE_DOCSTORE=phylesystem-1
# define minor repos for collections, following in curation app
COLLECTIONS_REPO=collections-1
AMENDMENTS_REPO=amendments-1
FAVORITES_REPO=favorites-1  # currently unused (and no such repo)!

# ***** Use ${OPENTREE_HOST} for testing, 'api.opentreeoflife.org' for release *****
# OPENTREE_API_HOST=${OPENTREE_HOST}
OPENTREE_API_HOST=api.opentreeoflife.org/

# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
OTINDEX_BASE_URL=https://otindex.opentreeoflife.org
PHYLAPI_BASE_URL=https://phylesystemapi.opentreeoflife.org



# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
# ASSUME that all method URLs will include the full version and path!
OPENTREE_WEBAPI_BASE_URL=https://api.opentreeoflife.org
OPENTREE_API_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
OTI_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
TREEMACHINE_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
TAXOMACHINE_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
CONFLICT_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
OTINDEX_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
COLLECTIONS_API_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
AMENDMENTS_API_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
ILLUSTRATIONS_API_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}
FAVORITES_API_BASE_URL=${OPENTREE_WEBAPI_BASE_URL}


OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/logs/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# When testing, please make the branch choice only in your local
# deployed-systems repo.  Do not push feature branch choices back
# to github.  The branches in the github version should always be
# 'master'.
# --JAR 2014-09-10

opentree_branch ot-base master
opentree_branch peyotl master
opentree_branch reference-taxonomy master
opentree_branch opentree master


export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/logs/peyotl.log

# No opentree webapp on this server
OPENTREE_DEFAULT_APPLICATION=opentree

