# Configuration for 'api' host (m3.large, 250G disk)
#   a.k.a. api.opentreeoflife.org
# Do push-db for the two databases manually, followed by index
OPENTREE_TAG=ot15
OPENTREE_HOST=${OPENTREE_TAG}.opentreeoflife.org
OPENTREE_COMPONENTS='api oti treemachine taxomachine'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/phylesystem-1.pem
OPENTREE_DOCSTORE=phylesystem-1
# TODO: use phylesystem-0 for testing, phylesystem-1 for final release

# This is for webhooks installation.
# Change to 'api' when previous 'production' gets decommissioned.
OPENTREE_API_BASE_URL=http://api.opentreeoflife.org/phylesystem/v1
# use 'ot15' for testing, 'api' for final release

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# Change this to 'production' when deployed & branch name and server
# are both in sync with desired commit.
OPENTREE_BRANCH=Bos

opentree_branch peyotl $OPENTREE_BRANCH
opentree_branch phylesystem-api $OPENTREE_BRANCH
opentree_branch ot-base $OPENTREE_BRANCH
opentree_branch oti $OPENTREE_BRANCH
opentree_branch treemachine $OPENTREE_BRANCH
opentree_branch taxomachine $OPENTREE_BRANCH

# Which component(s) needs this?
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
