# Configuration for host ot14 (m3.medium)
#   a.k.a. tree.opentreeoflife.org
OPENTREE_TAG=ot14
OPENTREE_HOST=ot14.opentreeoflife.org
OPENTREE_COMPONENTS='opentree'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem

# When we put this into production, change 'ot15' to 'api'
OPENTREE_API_HOST=ot15.opentreeoflife.org

OPENTREE_API_BASE_URL=//${OPENTREE_API_HOST}/api/v1
TREEMACHINE_BASE_URL=//${OPENTREE_API_HOST}/treemachine
TAXOMACHINE_BASE_URL=//${OPENTREE_API_HOST}/taxomachine
OTI_BASE_URL=//{OPENTREE_API_HOST}.opentreeoflife.org/oti

OPENTREE_PUBLIC_DOMAIN=devtree.opentreeoflife.org

TREEVIEW_GITHUB_CLIENT_ID=8cdc1fa7f5a3a416f958
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# N.b. the GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/treeview-GITHUB_CLIENT_SECRET-tree.opentreeoflife.org

CURATION_GITHUB_CLIENT_ID=d731965529a15ef9d529
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# N.b. the GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/curator-GITHUB_CLIENT_SECRET-tree.opentreeoflife.org

# MERGED: opentree_branch opentree prod-setup

# Peyotl is invoked from the curator app
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

# Change this to 'production' when fully deployed
OPENTREE_BRANCH=master

opentree_branch opentree $OPENTREE_BRANCH
opentree_branch peyotl $OPENTREE_BRANCH
