# Configuration for host ot15 (m3.large ec2-54-185-162-66.us-west-2.compute.amazonaws.com)
#   a.k.a. api.opentreeoflife.org
# Do push-db for the two databases manually, followed by index
OPENTREE_TAG=ot15
OPENTREE_HOST=ot15.opentreeoflife.org
OPENTREE_COMPONENTS='api oti treemachine taxomachine'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/repo-phylesystem-0.pem
OPENTREE_DOCSTORE=phylesystem-0  # TODO: bump to phylesystem-1 for production

# This is for webhooks installation.
# Change to 'api' when previous 'production' gets decommissioned.
OPENTREE_API_BASE_URL=http://ot15.opentreeoflife.org/api/v1

#OPENTREE_PUBLIC_DOMAIN=tree.opentreeoflife.org  # TODO: REMOVE THIS?
#GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login  # TODO: REMOVE THIS?
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

# Change this to 'production' when deployed & branch name and server
# are both in sync with desired commit.
OPENTREE_BRANCH=master

opentree_branch peyotl $OPENTREE_BRANCH
opentree_branch phylesystem-api $OPENTREE_BRANCH
opentree_branch ot-base $OPENTREE_BRANCH
opentree_branch oti $OPENTREE_BRANCH
opentree_branch treemachine $OPENTREE_BRANCH
opentree_branch taxomachine $OPENTREE_BRANCH

# Which component(s) needs this?
export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
