# Configuration for host ot19
# For displaying MLS result tree

OPENTREE_TAG=ot19
OPENTREE_HOST=ot19.opentreeoflife.org
OPENTREE_COMPONENTS='opentree treemachine'
#OPENTREE_COMPONENTS='opentree api oti taxomachine treemachine'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem

OPENTREE_API_HOST=$OPENTREE_HOST
OPENTREE_DEVAPI_HOST=devapi.opentreeoflife.org

OPENTREE_API_BASE_URL=//${OPENTREE_DEVAPI_HOST}/phylesystem/v1
TREEMACHINE_BASE_URL=//${OPENTREE_API_HOST}/treemachine/v1
TAXOMACHINE_BASE_URL=//${OPENTREE_DEVAPI_HOST}/taxomachine/v1
OTI_BASE_URL=//${OPENTREE_DEVAPI_HOST}/oti/v1

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

OPENTREE_BRANCH=master

OPENTREE_NEO4J_HOST=ot19.opentreeoflife.org

# phylesystem API
GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log
