# Configuration for host ot17 (m1.small  ec2-54-203-212-107.us-west-2.compute.amazonaws.com)
#   a.k.a. asterales.opentreeoflife.org
# This is the Asterales model village
# A separate index step will be required after taxomachine db is created / uploaded

OPENTREE_TAG=ot17
OPENTREE_HOST=ot17.opentreeoflife.org
OPENTREE_COMPONENTS='opentree api oti taxomachine treemachine'
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem

OPENTREE_API_HOST=asterales.opentreeoflife.org

OPENTREE_API_BASE_URL=//${OPENTREE_API_HOST}/phylesystem/v1
TREEMACHINE_BASE_URL=//${OPENTREE_API_HOST}/treemachine/v1
TAXOMACHINE_BASE_URL=//${OPENTREE_API_HOST}/taxomachine/v1
OTI_BASE_URL=//${OPENTREE_API_HOST}/oti/v1

# OPENTREE_PUBLIC_DOMAIN=devtree.opentreeoflife.org
OPENTREE_GH_IDENTITY=~/.ssh/opentree/opentreeapi-gh.pem

# TREEVIEW_GITHUB_CLIENT_ID=dff0cf4bb02360426224
# TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login

# CURATION_GITHUB_CLIENT_ID=d02feed213fd327e3005
# CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

opentree_branch peyotl master
opentree_branch opentree master
opentree_branch phylesystem-api master
opentree_branch ot-base master
opentree_branch oti master
opentree_branch treemachine master
opentree_branch taxomachine master

OPENTREE_DOCSTORE=asterales-phylesystem

# phylesystem API
# GITHUB_CLIENT_ID=9a81785e2af910035667
# GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

