# Configuration for host ot6 (m1.small  ec2-54-203-212-107.us-west-2.compute.amazonaws.com)
#This is the Asterales model village
OPENTREE_TAG=ot6
OPENTREE_HOST=ot6.opentreeoflife.org
# A separate index step will be required after taxomachine db is uploaded
OPENTREE_COMPONENTS='opentree api oti taxomachine treemachine'
OPENTREE_PUBLIC_DOMAIN=dev.opentreeoflife.org
OPENTREE_IDENTITY=~/.ssh/opentree/opentree.pem
OPENTREE_GH_IDENTITY=~/.ssh/opentree/opentree-hbf-test.pem
OPENTREE_NEO4J_HOST=ot6.opentreeoflife.org
OPENTREE_DOCSTORE=hbf_phylesystem_test
TREEMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/treemachine
TAXOMACHINE_BASE_URL=http://${OPENTREE_NEO4J_HOST}/taxomachine
OTI_BASE_URL=http://${OPENTREE_HOST}/oti
# phylesystem API
OPENTREE_API_BASE_URL=http://${OPENTREE_HOST}/api/v1
GITHUB_CLIENT_ID=9a81785e2af910035667
GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# NOTE that GITHUB_CLIENT_SECRET is kept in a separate file, outside of the repo

OPEN_TREE_API_LOGGING_LEVEL=debug
OPEN_TREE_API_LOGGING_FILEPATH=/home/opentree/log/api.log
OPEN_TREE_API_LOGGING_FORMATTER=rich

opentree_branch opentree prod-setup
# opentree_branch phylesystem-api master

export PEYOTL_LOGGING_LEVEL=debug
export PEYOTL_LOG_FILE_PATH=/home/opentree/log/peyotl.log

