# Configuration for host ot30.opentreeoflife.org
# For documentation see opentree/deploy/sample.config

OPENTREE_HOST=test.opentreeoflife.org
OPENTREE_COMPONENTS='opentree taxomachine treemachine'

CERTIFICATE_FILE=/etc/letsencrypt/live/test.opentreeoflife.org/fullchain.pem
CERTIFICATE_KEY_FILE=/etc/letsencrypt/live/test.opentreeoflife.org/privkey.pem

# Web apps configuration

OPENTREE_PUBLIC_DOMAIN=devtree.opentreeoflife.org

# Not our id.  Need to update
TREEVIEW_GITHUB_CLIENT_ID=8cdc1fa7f5a3a416f958
TREEVIEW_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/opentree/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/treeview-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

# Not our id.  Need to update
# See https://github.com/organizations/OpenTreeOfLife/settings/applications
CURATION_GITHUB_CLIENT_ID=d731965529a15ef9d529
CURATION_GITHUB_REDIRECT_URI=http://${OPENTREE_PUBLIC_DOMAIN}/curator/user/login
# N.B. The GITHUB_CLIENT_SECRET is stored separately, in file
# ~/.ssh/opentree/curator-GITHUB_CLIENT_SECRET-devtree.opentreeoflife.org

# N.B. we now require HTTPS for all APIs, so scheme-relative URLs no longer make sense here
TREEMACHINE_BASE_URL=https://${OPENTREE_HOST}
# ASSUMES that all method definitions will include the full version and path
TAXOMACHINE_BASE_URL=https://${OPENTREE_HOST}
OTI_BASE_URL=https://api.opentreeoflife.org
OPENTREE_API_BASE_URL=https://devapi.opentreeoflife.org
COLLECTIONS_API_BASE_URL=https://devapi.opentreeoflife.org
FAVORITES_API_BASE_URL=https://devapi.opentreeoflife.org
CONFLICT_BASE_URL=https://devapi.opentreeoflife.org

# When testing, please make the branch choice only in your local
# deployed-systems repo.  Do not push feature branch choices back
# to github.  The branches in the github version should always be
# 'master'.
# --JAR 2014-09-10

opentree_branch opentree adapt-to-new-arguson
opentree_branch treemachine tm-lite
opentree_branch taxomachine v3
